
 .main {
  position: relative;
  max-width: 1440px;
  height: 100%;
  background: #FAFAFA;
  height: 600px;
  margin: 0 auto;
  padding-top: 150px;
 }
.seede-header{
  position:fixed;
  width: 1440px;
  height: 150px;
  background: #FFFFFF;
  top: 0;
}
.in-block{
  display: inline-block;
}
